* {

	margin: 0px;
	padding: 0px
}
header .vv  {

	position: fixed;
	z-index: 999;
	width: 100%;
}

@media (max-width:575px) {
	header .vv {

		position: static;
	}


}




header .vv .mus {

	font-size: 2.5rem;
	font-family: cairo;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 50px;
	color:black;
}
header .vv .mus:hover {

color: black

}

@media (max-width:575px) {
	header .mus {

		font-size: 2.5rem
	}


}


header .lin{

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	
	

}

header .lin2{

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 700px
	
	

}

@media (max-width:575px) {
	header .lin2 {

		margin-left: 0px
	}


}



.small{
	
	background-color: white;
	height: 50px;
	color: black;
	transition: 1s all
}
.top {

	position: fixed;
	right: 40px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 100;
}

.one {

	background-image: url(../images/giza.jpg);
	background-size: cover;


}

.one .p p {

	padding-top: 150px;
	text-align: center;
	font-size: 4.5rem;
	text-transform: capitalize;
	font-family: tahoma;
	color: white;

}

@media (max-width:575px) {
	.one .p p {

		font-size: 3rem
	}

}

.one .p span{
	
	text-align: center;
	padding-bottom: 150px;
	font-size: 1.4rem;
	color:  rgba(255,255,255, .92);
}


.one .btn{
	
	margin-bottom: 100px;
	font-family: sans-serif;
	text-transform: capitalize
}


.top{
	
	position: fixed;
	right: 40px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 100;
}





.two{
	
	
	margin-bottom: 50px;
	margin-top: 80px
}


.two img{
	
	height: 30rem;
	width: 28rem;
	
}

@media (max-width:575px) {
	.two img{
	
		height: 20rem;
		width: 270px

	}
	
}


.two p{
	
	font-size: 3.5rem;
	
	margin-top: 20px;

}

@media (max-width:575px) {
	 .two p{
	
         font-size: 2.5rem
	}
	
}



.three{
	
	
	margin-bottom: 50px;
	margin-top: 110px
}

 .three img{
	
	
	height: 30rem;
	width: 28rem;
	margin-top: 50px;
	
}

@media (max-width:575px) {
	 .three img{
	
		height: 20rem;
		width: 270px

	}
	
}


 .three p{
	
	
	margin-top: 50px;
	font-family: tahoma;
	font-size:3.5rem;
	text-transform: capitalize;
	
	
}

@media (max-width:575px) {
	main .three p{
	
         font-size: 2.5rem
	}
	
}


 .four{
	
	
	margin-bottom: 50px;
	margin-top: 50px
}

 .four img{
	
	
	height: 30rem;
	width: 28rem;
	margin-top: 50px;
	
}

@media (max-width:575px) {
	 .four img{
	
		height: 20rem;
		width: 270px

	}
	
}



 .four p{
	
	
	margin-top: 80px;
	font-family: tahoma;
	font-size: 2.3rem;
	text-transform: capitalize;
	font-weight: bold;
}

@media (max-width:575px) {
	 .four p{
	
         font-size: 2rem
	}
	
}


 .four p span{
	
	color: rgb(117, 117, 117);
	font-size: 1rem;
	
}

 .five{
	
	
	margin-bottom: 50px;
	margin-top: 50px
}

.five img{
	
	
	height: 30rem;
	width: 28rem;
	margin-top: 50px;
	
	
}

@media (max-width:575px) {
	main .five img{
	
		height: 20rem;
		width: 270px

	}
	
}




.five p{
	
	
	margin-top: 80px;
	font-family: tahoma;
	font-size: 40px;
	text-transform: capitalize;
}

 .five p span{
	
	color: rgb(117, 117, 117);
	font-size: 1rem;
	
}


.six .text p {

	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	padding-top: 100px;
	padding-bottom: 40px
}

.six .text span {

	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: sans-serif;
	color: #606060;
	line-height: 1.86em;

}

.six .images img {

	height: 260px;
	width:  260px;
	margin-top: 100px;
	cursor: pointer;
	margin-bottom: 30px
}

@media (max-width:575px) {
	.six .images img {

		height: 260px;
		width: 260px;
		
	}

}

.six .images p{
	
	padding-top: 20px;
	font-weight: bold;
	text-transform: capitalize;
	font-family: tahoma
}

footer{
	
	background:#343a40
}

footer a{
	
	color: white;
}

footer p {
	
	color: red;
	
}


