* {

	margin: 0px;
	padding: 0px
}

header .vv {

	position: fixed;
	z-index: 999;
	width: 100%;
}

@media (max-width:575px) {
	header .vv {

		position: static;
	}


}




header .vv .mus {

	font-size: 2.5rem;
	font-family: cairo;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 50px;
	color: black;
}

header .vv .mus:hover {

	color: black
}

@media (max-width:575px) {
	header .mus {

		font-size: 2.5rem
	}


}


header .lin {

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;



}

header .lin2 {

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 700px
}

@media (max-width:575px) {
	header .lin2 {

		margin-left: 0px
	}


}



.small {

	background-color: white;
	height: 50px;
	color: black;
	transition: 1s all
}

.top {

	position: fixed;
	right: 40px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 100;
}

.one {

	background-image: url(../images/giza.jpg);
	background-size: cover;


}

.one .p p {

	padding-top: 150px;
	text-align: center;
	font-size: 4.5rem;
	text-transform: capitalize;
	font-family: tahoma;
	color: white;

}

@media (max-width:575px) {
	.one .p p {

		font-size: 3rem
	}

}

.one .p span {

	text-align: center;
	padding-bottom: 150px;
	font-size: 1.4rem;
	color: rgba(255, 255, 255, .92);
}


.one .btn {

	margin-bottom: 100px;
	font-family: sans-serif;
	text-transform: capitalize
}




.top {

	position: fixed;
	right: 40px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 100;
}



main .two .parent {

	margin-top: 100px;
	margin-bottom: 50px
}

main .two .p p {

	font-size: 2rem;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

@media (max-width:575px) {
	main .two .parent {

		margin-left: 40px
	}


}

main .two .parent form {

	width: 60rem
}

@media (max-width:575px) {
	main .two .parent form {

		width: 14rem
	}


}

main .two .cont {

	margin-top: 100px;
	margin-bottom: 50px;
	height: 320px;
	width: 300px;
	background-color: whitesmoke;
	border-radius: 20px
}

@media (max-width:575px) {
	main .two .cont {

		margin-left: 40px
	}


}




main .two .cont p {

	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	padding-top: 10px
}

footer {

	background: #343a40
}

footer a {

	color: white;
}

footer p {

	color: red;

}
