* {

	margin: 0px;
	padding: 0px
}
header .vv  {

	position: fixed;
	z-index: 999;
	width: 100%;
}

@media (max-width:575px) {
	header .vv {

		position: static;
	}


}




header .vv .mus {

	font-size: 2.5rem;
	font-family: cairo;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 50px;
	color:black;
}
header .vv .mus:hover {

color: black

}

@media (max-width:575px) {
	header .mus {

		font-size: 2.5rem
	}


}


header .lin{

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	
	

}

header .lin2{

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 700px
	
	

}

@media (max-width:575px) {
	header .lin2 {

		margin-left: 0px
	}


}



.small{
	
	background-color: white;
	height: 50px;
	color: black;
	transition: 1s all
}
.top {

	position: fixed;
	right: 40px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 100;
}

.one {

	background-image: url(../images/giza.jpg);
	background-size: cover;


}

.one .p p {

	padding-top: 150px;
	text-align: center;
	font-size: 4.5rem;
	text-transform: capitalize;
	font-family: tahoma;
	color: white;

}

@media (max-width:575px) {
	.one .p p {

		font-size: 3rem
	}

}

.one .p span{
	
	text-align: center;
	padding-bottom: 150px;
	font-size: 1.4rem;
	color:  rgba(255,255,255, .92);
}


.one .btn{
	
	margin-bottom: 100px;
	font-family: sans-serif;
	text-transform: capitalize
}



.two .text p {

	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	padding-top: 100px;
	;
	padding-bottom: 40px
}

.two .text span {

	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: sans-serif;
	color: #606060;
	line-height: 1.86em;

}

.two .images img {

	height: 300px;
	width:  300px;
	margin-top: 100px;
	cursor: pointer
}

@media (max-width:575px) {
	.two .images img {

		height: 260px;
		width: 260px;
		
	}

}


.three p {

	font-size: 1.3rem;
	font-family: cairo;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 40px;
	margin-top: 20px
}

.three .text p {

	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	padding-top: 100px;
	;
	padding-bottom: 40px
}

.three .text span {

	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: sans-serif;
	color: #606060;
	line-height: 1.86em;

}

.three .images img {

	height: 300px;
	width:  300px;
	margin-top: 100px;
	cursor: pointer
}

@media (max-width:575px) {
	.three .images img {

		height: 260px;
		width: 260px;
		
	}

}


.three p {

	font-size: 1.3rem;
	font-family: cairo;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 40px;
	margin-top: 20px
}


main .four{
	
	
	margin-top: 100px;
	margin-bottom: 50px
}

main .four img{
	
	
	height: 400px;
	width: 400px;
	margin-top: 150px
}
@media (max-width:575px) {
	main .four img{
	
		height: 300px;
		width: 280px

	}
	
}



main .four p span {
	
	font-size: 20px;
	color: red;
	font-family: fantasy;
	font-weight: bold;
	text-transform: capitalize;
	
	
}

footer{
	
	background:#343a40
}

footer a{
	
	color: white;
}

footer p {
	
	color: red;
	
}